{% extends 'base.html.twig' %}

{% block title %}Libro de Conferencias{% endblock %}

{% block body %}
{#    <img src="/images/under-construction.gif" />#}
    <h2>Conferencias</h2>
    {% for conference in conferences_twig %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{ path('conference', { id: conference.id}) }}">Ver</a>
        </p>
    {% endfor %}
{% endblock %}
