{% extends 'base.html.twig' %}

{% block title %}Libro de Conferencias{% endblock %}

{% block body %}
    <h2>Deja tu comentario</h2>
    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{ path('conference', { id: conference.id}) }}">Ver</a>
        </p>
    {% endfor %}
{% endblock %}
